{% extends 'base.html' %}
{% load placeholders %}
{% block content %}

    <div class="container text-center">
    <div class="row row-container">
        <form class="register-form container text-center" method="post" action="{% url 'sign up' %}">
            <h2>Register</h2>
            <p>
                {{ form.username.errors }}
                {{ form.username|placeholder:'Username' }}
            </p>
            <p>
                {{ form.email.errors }}
                {{ form.email|placeholder:'Email' }}
            </p>
            <p>
                {{ form.age.errors }}
                {{ form.age|placeholder:'Age' }}
            </p>
            <p>
                {{ form.password1.errors }}
                {{ form.password1|placeholder:'Password' }}
            </p>
            <p>
                {{ form.password2.errors }}
                {{ form.password2|placeholder:'Repeat Password' }}
            </p>
            <div>
                <button class="add-button" type="submit">Create Account</button>
            </div>

            {% csrf_token %}
        </form>
    </div>
    </div>

{% endblock %}