{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container text-center">
        <div class="row row-container justify-content-md-center profile-delete">
            <div class="col-xxl-2 img-container">
                <img src="{% static '/images/default-profile.jpg' %}" alt="User Image">
                {% if user.is_owner %}
                    <a class="profile-edit" href="{% url 'edit user' pk=request.user.pk %}">
                        <button>Edit</button>
                    </a>
                    <a class="profile-delete" href="{% url 'delete user' pk=request.user.pk %}">
                        <button>Delete</button>
                    </a>
                {% endif %}
            </div>
            <div class="col-xxl-5 border profile-details">
                {% if fullname %}
                    <h3> {{ user.first_name }} {{ user.last_name }}</h3>
                {% endif %}
                {% if request.user.email %}
                    <p>{{ request.user.email }}</p>
                {% endif %}
                {% if request.user.description %}
                    <p>{{ request.user.description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row row-container justify-content-md-center">
        {% for photo in user_photos %}
            <div class="col-md text-center row-container profile-page-photos">
                <a href="{% url 'details photo' pk=photo.pk %}">
                    <img src="{{ photo.photo.url }}" alt="user images">
                </a>
                {% if is_owner %}
                    <div class="photo-delete-btn">
                        <a href="{% url 'delete photo' pk=photo.pk %}">
                            <img src="{% static '/images/delete_bin.png.jpg' %}" alt="delete btn">
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>


{% endblock %}