{% extends 'base.html' %}
{% block content %}
    <div class="container text-center">
        <div class="row row-container edit-profile-title">
            <h3>Edit</h3>
            <div class="col">
                <div>
                    <form method="post" action="{% url 'edit user' pk=request.user.pk %}">
                        {{ form.as_p }}
                        <button class="add-button" type="submit">Edit account</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}