{% extends 'base.html' %}
{% load placeholders %}
{% block content %}
    <div class="container text-center">
        <div class="row row-container">
            <form method="post" action="{% url 'delete event' %}">
                <div class="container text-center add-event">
                    <h3>Edit Event</h3>
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}