.add-photo {
    width: 300px;
    height: 380px;
    background-color: rgba(70, 77, 248, 0.63);
    border-radius: 10px;
}

.add-photo input {
    margin-top: 30px
}

label {
    color: white;
}


.create-btn {
    margin: 20px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

::placeholder {
    text-align: center;
}