img {
    width:200px
}

.img-container {
    height: 200px;
}

.profile-edit-btn,
.profile-delete-btn {
    margin-left:20px;
    color:red;
    font-size: x-large;
    text-decoration: none;
}

.profile-page-photos {
    display: inline;
}

.details-photo img {
    width: 60%;
    height:auto;
}

.profile-details p {
    color: white;
}

.profile-page-photos img {
    width: 200px;
    height: 200px;
}

.photo-delete-btn img {
    background-color: transparent;
    margin-top: 10px;
    width: 40px;
    height: auto;
}